<!DOCTYPE html>
<html lang="zh">

<head>
    <link rel="icon" href="{{ url_for('static', filename='stack.svg') }}">
    <script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
    <script>
        $(document).ready(function (){
            $("#RAM-title").click(function () {
                $("#RAM-info").fadeToggle();
            })
            $("#DISK-title").click(function () {
                $("#DISK-info").fadeToggle();
            })
            $("#NETWORK-title").click(function () {
                $("#NETWORK-info").fadeToggle();
            })
            $("#SERVICES-title").click(function () {
                $("#SERVICES-info").fadeToggle();
            })
            $("#SYS-title").click(function () {
                $("#SYS-info").fadeToggle();
            })
            $("#CPU-title").click(function () {
                $("#CPU-info").fadeToggle();
            })
        })
    </script>
    <meta charset="UTF-8">
    <title>~ ESM Client</title>
    <style>
        h1{
            font-style: italic;
        }
        #SYS p, #CPU p, #RAM p, #DISK p, #NETWORK p, #SERVICES p{
            font-weight: bold;
            color: green;
        }
    </style>
</head>

<body>
    <div>
        <h1 onclick="goGitHub()">Easy Server Monitor Client</h1>
        <hr>
    </div>

    <div id="SYS">
        <p id="SYS-title">-- SYSTEM --</p>
        <ul id="SYS-info">
            <li>{{ 'Boot Time: ' ~ system_info.0 }} | 正常运行时间 {{ system_info.1 }}</li>
            {% for i in system_info[2:] %}
                <li>Login Users: {{ i.username }} | Host: {{ i.host }} | Terminal: {{ i.terminal }} | Pid: {{ i.pid }} | Started: {{ i.started }}</li>
            {% endfor %}
        </ul>
    </div>

    <div id="CPU">
        <p id="CPU-title">-- CPU --</p>
        <ul id="CPU-info">
            <li>{{ '物理内核：' ~ cpu_info.CPU_core }} | {{ '逻辑处理器：' ~ cpu_info.CPU_logical }}</li>
            <li>{{ 'CPU Load ' ~ cpu_info.CPU_load }}</li>
        </ul>
    </div>

    <div id="RAM">
        <p id="RAM-title">-- RAM --</p>
        <ul id="RAM-info" hidden="hidden">
            <li>{{ 'Total ' ~ ram_info.RAM_total ~ ' MB' }}</li>
            <li>{{ 'Used ' ~ ram_info.RAM_used ~ ' MB' }}</li>
            <li>{{ 'Free ' ~ ram_info.RAM_free ~ ' MB' }}</li>
            <li>{{ 'Available ' ~ ram_info.RAM_available ~ ' MB' }}</li>
            <li>{{ 'Percent ' ~ ram_info.RAM_percent ~ ' %' }}</li>
        </ul>
    </div>

    <div id="DISK">
        <p id="DISK-title">-- DISK --</p>
        <ul id="DISK-info" hidden="hidden">
            {% for i in disk_info %}
                <li>磁盘：{{ i.device }}</li>
                <li style="margin-left: 14px; list-style: circle">挂载点：{{ i.mnt }}</li>
                <li style="margin-left: 14px; list-style: circle">文件系统：{{ i.fstype }}</li>
                <li style="margin-left: 14px; list-style: circle">总容量：{{ i.total }} MB</li>
                <li style="margin-left: 14px; list-style: circle">已使用：{{ i.used }} MB | {{ i.percent }} %</li>
                <li style="margin-left: 14px; list-style: circle; margin-bottom: 8px">可用：{{ i.free }} MB</li>
            {% endfor %}
        </ul>
    </div>

    <div id="NETWORK">
        <p id="NETWORK-title">-- NETWORK --</p>
        <ul id="NETWORK-info" hidden="hidden">
            {% for i in network_info %}
                <li>网络适配器：{{ i.network_adapter }}</li>
{#                <li style="margin-left: 14px; list-style: circle">状态：{{ i.status }}</li>#}
                {% if i.status == True %}
                    <li style="margin-left: 14px; list-style: circle">状态：<span style="color: green">Up</span></li>
                {% elif i.status == False %}
                    <li style="margin-left: 14px; list-style: circle">状态：<span style="color: red">Down</span></li>
                {% endif %}
                <li style="margin-left: 14px; list-style: circle">链路速率：{{ i.speed }}</li>
                <li style="margin-left: 14px; list-style: circle">IPv4 Address {{ i.ipaddr_4 }}</li>
                <li style="margin-left: 14px; list-style: circle; margin-bottom: 8px">IPv4 Netmask {{ i.netmask_4 }}</li>
            {% endfor %}
        </ul>
    </div>
    <div id="SERVICES">
        <p id="SERVICES-title">-- SERVICES --</p>
        <ul id="SERVICES-info" hidden="hidden">
            {% for i in services_info %}
                <li>{{ i.display_name }}</li>
                {% if i.status == 'stopped' %}
                    <li style="margin-left: 14px; list-style: circle">状态：<span style="color: red;">{{ i.status | title }}</span></li>
                {% elif i.status == 'running' %}
                    <li style="margin-left: 14px; list-style: circle">状态：<span style="color: green;">{{ i.status | title }}</span></li>
                {% endif %}
                <li style="margin-left: 14px; list-style: circle">Name: {{ i.name }}</li>
                <li style="margin-left: 14px; list-style: circle">PID: {{ i.pid }}</li>
                <li style="margin-left: 14px; list-style: circle">UserName: {{ i.username }}</li>
                <li style="margin-left: 14px; list-style: circle">启动类型：{{ i.start_type | title }}</li>
                <li style="margin-left: 14px; list-style: circle">BinPath: "{{ i.binpath }}"</li>
                <li style="margin-left: 14px; list-style: circle; margin-bottom: 8px">描述：{{ i.description }}</li>
            {% endfor %}
        </ul>
    </div>

    <div id="SENDFILE">
        <hr>
        <p>File Distribution</p>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <button type="submit">Acknowledge</button>
        </form>
        {% if check_upload.lv == 0%}
            <p style="color: red">{{ check_upload.info }}</p>
        {% elif check_upload.lv == 1 %}
            <p style="color: orange">{{ check_upload.info }}</p>
        {% elif check_upload.lv == 2 %}
            {% for i in check_upload.info %}
                <ul>
                    <li>{{ i }}</li>
                </ul>
            {% endfor %}
        {% endif %}
    </div>

    <script>
        function goGitHub() {
            window.location.href='https://github.com/babyNEKO/EasyServerMonitor';
        }
    </script>
</body>
</html>